/* 导航栏样式 */
nav {
    background: #72A2c0; /* 浅蓝 */
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    float: left;
}

nav a:hover {
    background-color: #78D6ac; /* 亮绿悬停效果 */
}

/* 搜索框容器样式 */
.search-container {
    margin-left: auto; /* 将搜索框推到右侧 */
    display: flex;
    align-items: center;
    position: relative;
}

/* 搜索框样式 */
.search-container input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
}

/* 搜索按钮样式 */
.search-container button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.search-container .search-icon {
    width: 16px;
    height: 16px;
}
