/* 导航栏样式 */
nav {
    background: #72A2c0; /* 浅蓝 */
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

/* 导航链接样式 */
nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: #78D6ac; /* 亮绿悬停效果 */
}

/* 搜索框容器样式 */
.search-container {
    margin-left: auto; /* 将搜索框推到最右边 */
    display: flex;
    align-items: center;
    position: relative;
}

/* 搜索框输入框样式 */
.search-container input {
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    width: 180px; /* 可调整宽度 */
}

/* 搜索按钮样式 */
.search-container button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: -30px; /* 让按钮重叠到输入框的右边 */
}

.search-container ./Image/search-icon.png {
    width: 16px;
    height: 16px;
}
